<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Spring Security OAuth 2.0 Sample</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
  <h1>Login</h1>
  <p th:if="${loginError}" style="font-weight:bold;color:red;">Wrong username or password</p>
  <!--  <form th:action="@{/login}" method="post">-->
  <form id="loginForm">
    <div class="form-row">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="user1" autofocus="autofocus"
               class="form-control">
        <small class="form-text text-muted">user1 / password</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="password" class="form-control">
      </div>
    </div>
    <a href="javascript:void(0);" class="btn btn-primary" onclick="submitLogin()">登 录</a>
    <!--<button id="submitLogin" class="btn btn-primary">Log in</button>-->
  </form>
</div>
<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
  var parseSearch = function(search) {
    return search.replace(/(uid|cid|token|account)=[^&]+&?/gi, "").replace(/redirect_uri=([^&]+)/gi, function($0, $1) {
        var encode = decodeURIComponent($1)
          , replaceResult = encode.replace(/(uid|cid|token|account)=[^&]+&?/gi, "");
        return "redirect_uri=" + encodeURIComponent(replaceResult)
    })
  }

  function submitLogin() {
    var data = {};
    data.login_type = "default";
    data.username = $("#username").val();
    data.password = $("#password").val();
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=UTF-8",
      url: "/oauth/authorize" + location.search,
      data: data,
      headers: {
        "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
      },
      success: function(data) {
        if (data.ok) {
          location.href = location.pathname + parseSearch(location.search);
          return;
        }
      },
      error: function(data) {
        console.log(data);
      }
    });
  }
</script>
</body>
</html>
